/* ===== Paleta personalizada ===== */
:root {
  --cor-fundo: #efeee9;
  --cor-secundaria: #f1eafc;
  --cor-destaque: #fed6cc;
  --cor-suave: #c9e7ff;
  --cor-principal: #60b7c1;
  --cor-titulo: #b1a4dc;
}




header.masthead {
  background: linear-gradient(135deg, var(--cor-titulo), var(--cor-principal));
}

/* ===== Fundo e corpo ===== */
body {
  background-color: var(--cor-fundo);
  color: #333;
  font-family: "Poppins", sans-serif;
}

/* ===== Navbar ===== */
.navbar {
  background-color: var(--cor-principal);
}

.navbar a {
  color: #fff;
  transition: 0.3s;
}

.navbar a:hover {
  color: #6748cf !important;
}

.nav-link.active {
  color: #fed6cc !important;
  font-weight: 600;
  border-bottom: 2px solid #fed6cc;
  transition: 0.3s;
}
/* ===== Seções ===== */
.page-section {
  padding: 6rem 0;
}

.page-section:nth-child(even) {
  background-color: var(--cor-secundaria);
}

.page-section:nth-child(odd) {
  background-color: var(--cor-secundaria) !important;
}

/* ===== Títulos ===== */
.section-heading {
  color: var(--cor-titulo);
  text-transform: uppercase;
}

.section-subheading {
  color: #666;
}

/* ===== Botões ===== */
.btn-primary {
  background-color: var(--cor-destaque);
  border-color: var(--cor-destaque);
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #f8b8a4;
  border-color: #f8b8a4;
  color: #fff;
}

/* ===== Cards e Portfolio ===== */
.portfolio-item {
  background: #fff;
  border: 1px solid var(--cor-suave);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 2rem;
}

.portfolio-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(177, 164, 220, 0.3);
}

/* ===== Rodapé ===== */
footer {
  background: linear-gradient(135deg, var(--cor-titulo), var(--cor-principal));
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}


p{
  font-family:"Quicksand", sans-serif;
}

span{
    transition: transform 0.3s ease-out; 

}

span:hover{
  transform: scale(1.2);
}



/* ===== Ondas animadas ===== */
.hero-waves-container {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  background: var(--cor-principal);
}

.hero-waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hero-waves use {
  fill: var(--cor-secundaria);
  animation: moveWaves 6s cubic-bezier(.55,.5,.45,.5) infinite;
}

.wave1 use {
  fill: var(--cor-destaque);
  animation-delay: -2s;
  opacity: 0.8;
}

.wave2 use {
  fill: var(--cor-titulo);
  animation-delay: -4s;
  opacity: 0.6;
}

.wave3 use {
  fill: var(--cor-secundaria);
}

/*animação suave das ondas */
@keyframes moveWaves {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}

